@import "tailwindcss";
 @plugin "daisyui";
 @plugin "daisyui" {
   themes: light --default, dark --prefersdark;
 }

.custom-scrollbar-visible::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar-visible::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

.custom-scrollbar-visible::-webkit-scrollbar-thumb {
  background-color: #93c5fd;
  border-radius: 10px;
  border: 2px solid #f0f0f0;
}

.custom-scrollbar-visible {
  scrollbar-width: thin;
  scrollbar-color: #93c5fd #f0f0f0;
}

.custom-scrollbar-hidden-but-scrollable::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* For Firefox, hide scrollbar visually */
.custom-scrollbar-hidden-but-scrollable {
  -ms-overflow-style: none;
  scrollbar-width: none;
}